<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <!--<link rel='stylesheet' href='/static/css/layout.css' />-->
    <title>Accountability Partners</title>
    <style>
        body {
          color: black;
          background: white;
          font-family: Verdana, Arial, Helvetica, sans-serif;
        }

        /* Add a black background color to the top navigation */
        .topnav {
          background-color: #023047;
          overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }

        /* Change the color of navigation links on hover */
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }

        /* Add a color to the active/current navigation link */
        .topnav a.active {
          background-color: rgba(128, 128, 128, 0.596);
          color: white;
        }

        /* Left and right navigation float */
        .topnav a.left {
          float: left;
        }

        .topnav a.right {
          float: right;
        }
    </style>
    <div class='topnav'>
      <a class='left' href='/admin'>Admin Page</a>
      <a class='right' href='/logout'>Logout</a>
      <a class='right' href='/search-client'>Search Clients</a>
    </div>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>