{% extends 'layout.html' %}
{from flask import url_for}
{% block head%}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../static/css/editgoals.css" />
{% endblock %}

{% block content %}
  <form action='/submit-edit/{{ goal.goal_id }}' method='post'>
    <div class="container">
      <h1>Edit Goal</h1>
      <hr />
  
      <label for="name"><b>Goal name</b></label>
      <input
        type="text"
        value="{{goal.name}}"
        name="name"
        id="name"
        required
      />

      <label for="progress"><b>Goal progress</b></label>
      <input
        type="number"
        value={{goal.progress}}
        name="progress"
        id="progress"
      />

      <label for="deadline"><b>Deadline</b></label>
      <input
        type="date"
        value={{goal.deadline}}
        name="deadline"
        id="deadline"
      />
      <br><br><br><br>
      {% for i in range(0, milestones|length) %}
      <label for="milestone-name"><b>Milestone name</b></label>
      <input
        type="text"
        value="{{milestones[i].Name}}"
        name="milestone-name{{i|string}}"
        id="milestone-name"
        required
      />

      <label for="milestone-deadline"><b>Deadline</b></label>
      <input
        type="date"
        value={{milestones[i].Deadline}}
        name="milestone-deadline{{i|string}}"
        id="milestone-deadline"
      />

      {% if milestones[i].Completed == 0%}
      <input type="checkbox" id="milestone-completed" name="milestone-completed{{i|string}}" value={{milestones[i].Completed}}>
      {% else %}
      <input type="checkbox" class="check" id="milestone-completed" name="milestone-completed{{i|string}}" value={{milestones[i].Completed}}>
      {% endif %}
      <label for="vehicle1">Completed</label>
      <a href="/delete-milestone/{{goal.goal_id}}/{{milestones[i].Milestone_ID}}" class="cancelbtn">Delete milestone</a>
      <br><br><br><br>

      {% endfor %}

      <a href="/add-milestone/{{goal.goal_id}}" class="submitbtn">Add new milestone</a>
      <br><br>
      <a href="{{ url_for('view_goal') }}" class="cancelbtn">Cancel</a> <!-- link back to view_goal -->
      <button type="submit" class="submitbtn">Save changes</button>
      <input type="hidden" name="del" value=0>
      
    </div>
</form>
<script>
  window.onload = function () {
    x = document.getElementsByClassName("check");
    for (i = 0; i < x.length; i++) {
      if (x[i].getAttribute("value") == 0) {
          x[i].setAttribute("checked", false)
        }
      else {
        x[i].setAttribute("checked", true)
      }
    }
  }
</script>
{% endblock %}
 