{% extends 'layout.html'%} 
{% block head %}<h1>Index</h1>{% endblock %} 
{% block content%}
    <a href='/'>login</a><br>
    <a href='/registration'>registration</a><br>
    <a href='/admin'>admin</a><br>
    <a href='/edit-client'>edit-client</a><br>
    <a href='/view-client'>view-client</a><br>
    <a href='/view-partner-goal'>view-partner-goal</a><br>
    <a href='/view-goal'>view-goal</a><br><br>
    <a href='/loggedin'>logged in</a><br>
    <a href='/logout'>log out</a>
    <a href='/search-client'>search-client</a><br>
{% endblock %}
