{% block head%}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/static/css/registration.css" />
{% endblock %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% block body%}
{% if error %}
<p style="color:white;" class=error><strong>Error:</strong> {{ error }}
  {% endif %}

<form method="POST">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr />

    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" id="name" required />
    <br>
    <label for="email_id"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email_id" id="email_id" required />
    <br>
    <label for="phone_number"><b>Cell phone number</b></label>
    <input type="number" placeholder="Enter Phone Number" name="phone_number" id="phone_number" required />
    <br><br>
    <label for="year"><b>Class Year</b></label>
    <select name="year" id="year">
      <option value="2021">2021</option>
      <option value="2021">2022</option>
      <option value="2021">2023</option>
      <option value="2021">2024</option>
    </select>

    <!--<label for="year">Year</label>

    <select name="year" id="year">
      <option value="2020">2020</option>
    </select>-->

    <!--<label for="major_minor"><b>Major</b></label>
    <input
      type="text"
      placeholder="Enter Major/Minor/Concentrations"
      name="major_minor"
      id="major_minor"
      required
    />-->
    <br><br>
      <label for="major_minor"><b>Major</b></label>

      <select name="major_minor" id="major_minor">
        <option value="AAAS">AAAS</option>
        <option value="AMES">AMES</option>
        <option value="ARTHIST">ARTHIST</option>
        <option value="BIOLOGY">BIOLOGY</option>
        <option value="BME">BME</option>
        <option value="CEE">CEE</option>
        <option value="CHEM">CHEM</option>
        <option value="CHINESE">CHINESE</option>
        <option value="CLST">CLST</option>
        <option value="COMPSCI">COMPSCI</option>
        <option value="CULANTH">CULANTH</option>
        <option value="DANCE">DANCE</option>
        <option value="ECE">ECE</option>
        <option value="ECON">ECON</option>
        <option value="ENGLISH">ENGLISH</option>
        <option value="ENVIRON">AAENVIRONAS</option>
        <option value="EVANTH">EVANTH</option>
        <option value="FRENCH">FRENCH</option>
        <option value="GERMAN">GERMAN</option>
        <option value="GLHLTH">GLHLTH</option>
        <option value="GREEK">GREEK</option>
        <option value="GSF">GSF</option>
        <option value="HISTORY">HISTORY</option>
        <option value="ITALIAN">ITALIAN</option>
        <option value="ICS">ICS</option>
        <option value="LIT">LIT</option>
        <option value="LINGUIST">LINGUIST</option>
        <option value="MATH">MATH</option>
        <option value="ME">ME</option>
        <option value="MUSIC">MUSIC</option>
        <option value="MEDREN">MEDREN</option>
        <option value="NEUROSCI">NEUROSCI</option>
        <option value="PHIL">PHIL</option>
        <option value="PHYSICS">PHYSICS</option>
        <option value="POLSCI">POLSCI</option>
        <option value="PSY">PSY</option>
        <option value="PUBPOL">PUBPOL</option>
        <option value="ROMST">ROMST</option>
        <option value="RELIGION">RELIGION</option>
        <option value="RUSSIAN">RUSSIAN</option>
        <option value="SCIOL">SCIOL</option>
        <option value="SPANISH">SPANISH</option>
        <option value="STA">STA</option>
        <option value="SES">SES</option>
        <option value="THEATRST">THEATRST</option>
        <option value="VMS">VMS</option>
        <option value="WRITING">WRITING</option>
      </select>

    <!--<label for="classes"><b>Current Courses</b></label>
    <input
      type="text"
      placeholder="Enter Courses"
      name="classes"
      id="classes"
      required
    />-->
    <br><br>
    <label for="classes"><b>Classes</b></label>
    <input type="text" placeholder="" name="classes" id="classes" required />
    <!--<label for="aim"
      ><b>What do you hope to get out of having a partner?</b></label>

    <input type="text" placeholder="" name="aim" id="aim" required />-->
    <!--
    <br><br>
    <label for="aim">Aim</label>

    <select name="aim" id="aim">
      <option value="Having someone remind me to do my work">Having someone remind me to do my work</option>
      <option value="Having someone who is willing to do work with me">Having someone who is willing to do work with me</option>
      <option value="Having someone give me encouragement">Having someone give me encouragement</option>
      <option value="Having someone to keep me organized">Having someone to keep me organized</option>
    </select> 
    -->
    <br>

    <label for="timezone"><b>UTC Time Zone</b></label>
    <input type="number" placeholder="-12 to 14" name="timezone" id="timezone" min=-12 max=14/>
    <br><br>
    <label for="partner_request"><b>Requested Partner (if applicable)</b></label>
    <input
      type="text"
      placeholder="Lastname, Firstname"
      name="partner_request"
      id="partner_request"
    />

    <!--<label for="priorities"><b>Matching Priorities</b></label>
    <input
      type="text"
      placeholder="Select Priorities"
      name="priorities"
      id="priorities"
    />-->

    <label for="priorities"><b>Priorities</b></label>

    <select name="priorities" id="priorities">
      <option value="grades">grades</option>
      <option value="self care">self care</option>
      <option value="personal projects">personal projects</option>
      <option value="recruiting">recruiting</option>
      <option value="hobbies">hobbies</option>
      <option value="research">research</option>
      <option value="exercise">exercise</option>
      <option value="organizations">organizations</option>
      <option value="volunteering">volunteering</option>
      <option value="being premed">being premed</option>
      <option value="making friends">making friends</option>
    </select>


    <br><br>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required />
    <br>
    <label for="password_rpt"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="password_rpt" id="password_rpt" required />
    <hr />

    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href='/'>Sign in</a></p>
  </div>
</form>
{% endblock %}