{% extends 'layout.html'%}
{% block head %}
<title>View Goals</title>
<!--<link rel="stylesheet" href="/static/css/viewgoals.css">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body {
    background: #023047;
    font-size: 20px;
  }

  header {
    background: #219ebc;
    padding: 20px;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    font-family: Apple Chancery, cursive;
  }

  section {
    background: rgb(0, 122, 236);
    padding: 20px;
    font-size: 25px;
    margin-top: 10px;
  }

  table {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  .subtitle {
    font-size: 30px;
    color: black;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }

  .row {
    display: flex;
  }

  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
    margin-right: 10px;
    height: 1000px;
    background-color: #219ebc;
  }

  .add_goal {
    background-color: #023047;
    color: white;
    padding: 0.75em 1em;
    text-decoration: none;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
  }

  body {
    font-family: Georgia, serif;
  }

  /* Month header */
  .month {
    padding: 70px 25px;
    width: 100%;
    background: #023047;
    text-align: center;
  }

  /* Month list */
  .month ul {
    margin: 0;
    padding: 0;
  }

  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  /* Previous button inside month header */
  .month .prev {
    float: left;
    padding-top: 10px;
  }

  /* Next button */
  .month .next {
    float: right;
    padding-top: 10px;
  }

  /* Weekdays (Mon-Sun) */
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
  }

  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
  }

  /* Days (1-31) */
  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
  }

  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
  }

  /* Highlight the "current" day */
  .days li .active {
    padding: 5px;
    background: #023047;
    color: white !important
  }
</style>
{% endblock %}

{% block content%}

<body>
  <header>Personal Goals</header>

  <div class="row">
    <!--<div class="column">
                    <div class="month">
                        <ul>
                          <li class="prev">&#10094;</li>
                          <li class="next">&#10095;</li>
                          <li>October<br><span style="font-size:18px">2020</span></li>
                        </ul>
                      </div>
                      
                      <ul class="weekdays">
                        <li>Mo</li>
                        <li>Tu</li>
                        <li>We</li>
                        <li>Th</li>
                        <li>Fr</li>
                        <li>Sa</li>
                        <li>Su</li>
                      </ul>
                      
                      <ul class="days">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                        <li><span class="active">31</span></li>
                      </ul>
                </div>-->
    <div class="column">
      <h2 class="subtitle" id="subtitle">{{usr}}'s Goals</h2>
      <table>
        <tr>
          <!--top labels for the table-->
          <th>Goal Name</th>
          <th>Milestones</th>
          <th>Date Created</th>
          <th>Deadline</th>
        </tr>
        {% for goal in goal_data %}
        <!--prints out all the goals-->
        <tr>
          <td>{{goal.name}}</td>
          <td>
            <table>
            {% for milestone in milestone_data %}
            {% if milestone.Goal_ID == goal.goal_id %}
            <tr>
            {% if milestone.Completed == 0%}
              <td style="text-align:center">{{milestone.Name}}</td>
            {% else %}
              <td style="text-align:center"><del>{{milestone.Name}}</del></td>
            {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
            </table>
          </td>
          <td>{{goal.date_created}}</td>
          <td>{{goal.deadline}}</td>
          <td>
            <form action="/edit-goal/{{goal.goal_id}}" method="post">
              <input type="submit" value="Edit Goal" name="edit-goal" />
            </form>
          </td>
          <td>
            <form action="/delete-goal/{{goal.goal_id}}" method="post">
              <input type="submit" value="Delete" name="delete-goal" />
            </form>
          </td>
        </tr>
        <tr></tr><tr></tr><tr></tr><tr></tr>
        {% endfor %}
      </table>
      <br><br>
      <a class="add_goal" id="add_goal" href='/add-goal'>Add Goal</a>
    </div>
  </div>
</body>
{% endblock %}