{% extends 'layout.html'%} 
{% block head %}
    <title>View Client</title>
    <link rel="stylesheet" href="/static/css/viewclient.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background: #023047;
            font-size: 20px;
            font-weight: 500;

        }

        table {
            text-align: center;
            margin: 0 auto;
            width: 100%;
        }

        header {
            background: #219ebc;
            padding: 20px;
            font-size: 55px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 20px;
            color: #000000;
            font-family: Apple Chancery, cursive;
          }
          
          section {
            background: rgb(0, 122, 236);
            padding: 20px;
            font-size: 25px;
            margin-top: 10px;
          }
          
          .subtitle {
            font-size: 25px;
            font-weight: bold;
            color: black;
            text-align: center;
          }
          
          * {
            box-sizing: border-box;
          }
          
          .row {
            display: flex;
          }
          
          /* Create two equal columns that sits next to each other */
          .column {
            flex: 50%;
            padding: 10px;
            margin-right: 10px;
            height: 1000px; 
            background-color:#219ebc;
          }
        
          ul {list-style-type: none;}
        body {font-family: Georgia, serif;}

        button {
            background-color: #023047;;
            color: white;
            padding: 1em 1.5em;
            text-decoration: none;
            text-transform: uppercase;
          }
    </style>
{% endblock %}

{% block content%}
    <body >
        <header>{{usr}}'s Personal Info</header>
            <div class="row">
                <div class="column">
                    <table>
                        <tr>
                            <td id="subtitle" class="subtitle">Email</td>
                        </tr>
                        <tr>
                            <td>{{data.email_id}}</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td id="subtitle" class="subtitle">Cell Phone Number</td>
                        </tr>
                        <tr>
                            <td>{{data.phone_number}}</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td id="subtitle" class="subtitle">Class Year</td>
                        </tr>
                        <tr>
                            <td>{{data.year}}</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td id="subtitle" class="subtitle">Major</td>
                        </tr>
                        <tr>
                            <td>{{data.major_minor}}</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td id="subtitle" class="subtitle">Current Course</td>
                        </tr>
                        <tr>
                            <td>{{data.classes}}</td>
                        </tr>
                    </table>
                    <br>
                    <!--
                    <table>
                        <tr>
                            <td id="subtitle" class="subtitle">What do You Hope to Get Out of Having a Partner?</td>
                        </tr>
                        <tr>
                            <td>{{data.aim}}</td>
                        </tr>
                    </table>
                    <br>
                    -->
                    <table>
                        <tr>
                            <td id="subtitle" class="subtitle">Time Zone</td>
                        </tr>
                        <tr>
                            <td>{{data.timezone}}</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td id="subtitle" class="subtitle">Requested Partner</td>
                        </tr>
                        <tr>
                            <td>{{data.partner_request}}</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td id="subtitle" class="subtitle">Matching Priority</td>
                        </tr>
                        <tr>
                            <td>{{data.priorities}}</td>
                        </tr>
                    </table>
                    <br>
                    <a href='/edit-client'><button>Edit Personal Information</button></a>
                </div>
            </div>
    </body>
{% endblock %}