{% extends 'layout.html'%}
{% block head %}
<title>View Partner's Goals</title>
<!--<link rel="stylesheet" href="/static/css/viewpartnergoals.css">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
        background: #023047;
        font-family: Georgia, serif;
        font-size: 20px;
    }

    .button {
        background-color: red;
        color: black;
        border: none;
        display: inline-block;
        padding: 13px 30px;
        font-size: large;
        font-weight: 700;
        margin: 0 auto;
        width: 100%;
    }

    header {
        background: #219ebc;
        padding: 20px;
        font-size: 55px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
        color: #000000;
        font-family: Apple Chancery, cursive;
    }

    section {
        background: rgb(0, 122, 236);
        padding: 20px;
        font-size: 25px;
        margin-top: 10px;
    }

    * {
        box-sizing: border-box;
    }

    .row {
        display: flex;
    }

    /* Create two equal columns that sits next to each other */
    .column {
        flex: 50%;
        padding: 10px;
        margin-right: 10px;
        height: 1000px;
        background-color: #219ebc;
    }

    .subtitle {
        font-size: 30px;
        color: black;
        text-align: center;
    }

    table {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
</style>
{% endblock %}

{% block content%}

<body>
    <header>Partner's Goals</header>

    <div class="row">
        <!--<div class="column">
                    <h2>Overall Progress</h2>
                    <p>Some text/figure..</p>
                </div>-->
        <div class="column">
            <button type="button" id="button" class="button" onclick="setColor('button', '#39FF14')" ;>Checked
                In</button>
            <h2 class="subtitle" id="subtitle">{{partner.email_id}}'s Goals</h2>
            <table>
                <tr>
                    <!--top labels for the table-->
                    <th>Goal Name</th>
                    <th>Milestones</th>
                    <th>Date Created</th>
                    <th>Deadline</th>
                </tr>
                {% for goal in goal_data %}
                <!--prints out all the goals-->
                <tr>
                    <td>{{goal.name}}</td>
                    <td>
                        <table>
                            {% for milestone in milestone_data %}
                            {% if milestone.Goal_ID == goal.goal_id %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td style="text-align:center">{{milestone.Name}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                    </td>
                    <td>{{goal.date_created}}</td>
                    <td>{{goal.deadline}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script>
        function setColor(btn, color) {
            var property = document.getElementById(btn);
            property.style.backgroundColor = color

            setTimeout(() => {
                property.style.backgroundColor = 'red'
            }, 5000);                                               /*In milliseconds, can be set to larger numbers*/
        }
    </script>
</body>
{% endblock %}